body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3575D3;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 50px 1fr 50px ;
    grid-template-rows: 80px 80px auto ;
    grid-template-areas: " .  header . "
                         " . toggles . "
                         " . flexbox_container . "
}


.header {
    grid-area: header;
    text-align: center;
}  

.header h1 {
    padding: 10px;
}

.toggle_container {
    grid-area: toggles;
}

.flexbox_container {
    grid-area: flexbox_container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#inner {
    display: table;
    margin: 0 auto;
  }

.api_item {
    padding: 10px;
    width: 150px;
    height: 200px;
}

.span {
    max-width: 150px;
    max-height: 10px;
}

#myUL {
    list-style-type: none;    
}

#myUL li:nth-child(odd) {
    display: inline-block;
    border: 1px solid white;
    background-color: #FFC300;
    text-align: center;
    font-size: 13px;
    border-radius: 10px;
    margin: 10px;
}
#myUL li:nth-child(even) {
    display: inline-block;
    border: 1px solid white;
    background-color: lightskyblue;
    text-align: center;
    font-size: 13px;
    border-radius: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}
    
@media only screen and (max-width:750px) {
    .container {
        display: grid;
        grid-template-columns: 10px 1fr 10px ;
        grid-template-rows: 150px 100px auto ;
        grid-template-areas: " .  header . "
                             " . toggles . "
                             " . flexbox_container . "
    }
}